<div
  class="blank-layout-container justify-content-center align-items-center bg-light-primary"
>
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/register.jpg"
                class="align-middle m-2"
                alt="logo"
                width="178"
                height="178"
              />
            </a>
          </div>

          <!-- <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/google-icon.svg"
                    alt="google"
                    width="16"
                    class="m-r-8"
                  />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button
                mat-stroked-button
                class="w-100 d-flex align-items-center"
              >
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/facebook-icon.svg"
                    alt="facebook"
                    width="40"
                    class="m-r-4"
                  />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div> -->

          <div class="or-border m-t-30">Información Personal</div>

          <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Nombres</mat-label
            >
              <input formControlName="personFirstName" matInput />
              <mat-error class="mt-3" *ngIf="registerForm.get('personFirstName')!.hasError('required') && registerForm.get('personFirstName')!.touched">Nombres son obligatorios</mat-error>
              <mat-error class="mt-3" *ngIf="registerForm.get('personFirstName')!.hasError('maxlength') && registerForm.get('personFirstName')!.touched">El máximo de caracteres permitidos es 60</mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Apellidos</mat-label
            >
              <input formControlName="personLastName" matInput />
              <mat-error class="mt-3" *ngIf="registerForm.get('personLastName')!.hasError('required') && registerForm.get('personLastName')!.touched">Apellidos son obligatorios</mat-error>
              <mat-error class="mt-3" *ngIf="registerForm.get('personLastName')!.hasError('maxlength') && registerForm.get('personLastName')!.touched">El máximo de caracteres permitidos es 60</mat-error>

            </mat-form-field>


            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">No. Identificación</mat-label>
              <input formControlName="personIdentification" matInput type="text" placeholder="Ingrese 10 dígitos numéricos">
              <mat-error class="mt-3" *ngIf="registerForm.get('personIdentification')!.hasError('required') && registerForm.get('personIdentification')!.touched">El campo es obligatorio</mat-error>
              <mat-error class="mt-3" *ngIf="registerForm.get('personIdentification')!.hasError('minlength') && !registerForm.get('personIdentification')!.hasError('required') && registerForm.get('personIdentification')!.touched">Debe tener al menos 10 caracteres</mat-error>
              <mat-error class="mt-3" *ngIf="registerForm.get('personIdentification')!.hasError('pattern') && !registerForm.get('personIdentification')!.hasError('required') && !registerForm.get('personIdentification')!.hasError('minlength') && registerForm.get('personIdentification')!.touched">Debe ser un número de 10 dígitos</mat-error>
            </mat-form-field>



            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Fecha de Nacimiento</mat-label>
              <input formControlName="personBirthDate" matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error class="mt-3" *ngIf="registerForm.get('personBirthDate')!.invalid && registerForm.get('personBirthDate')!.touched">La fecha de nacimiento es obligatoria</mat-error>
            </mat-form-field>


            <div class="or-border m-t-30">Información de Usuario</div>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Usuario</mat-label
            >
              <input formControlName="userName" matInput type="text" />
              <mat-error class="mt-3" *ngIf="registerForm.get('userName')!.errors?.['required'] && registerForm.get('userName')!.touched">
                El nombre de usuario es obligatorio
              </mat-error>
              <mat-error class="mt-3" *ngIf="!registerForm.get('userName')!.errors?.['required'] && registerForm.get('userName')!.errors?.['pattern'] && registerForm.get('userName')!.touched">
                No utilizar signos y al menos una letra mayúscula y un número
              </mat-error>
              <mat-error class="mt-3" *ngIf="!registerForm.get('userName')!.errors?.['required'] && !registerForm.get('userName')!.errors?.['pattern'] && registerForm.get('userName')!.errors?.['minlength'] && registerForm.get('userName')!.touched">
                El nombre de usuario debe tener al menos 8 caracteres
              </mat-error>
              <mat-error class="mt-3" *ngIf="!registerForm.get('userName')!.errors?.['required'] && !registerForm.get('userName')!.errors?.['pattern'] && !registerForm.get('userName')!.errors?.['minlength'] && registerForm.get('userName')!.errors?.['maxlength'] && registerForm.get('userName')!.touched">
                El nombre de usuario no puede tener más de 20 caracteres
              </mat-error>


            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Email</mat-label
            >
              <input formControlName="userEmail" matInput type="email" />
            </mat-form-field>

            <!-- password -->
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Contraseña</mat-label
            >
              <input formControlName="userPassword" matInput type="password" />
              <mat-error class="mt-3" *ngIf="registerForm.get('userPassword')!.errors?.['required'] && registerForm.get('userPassword')!.touched">
                La contraseña es obligatoria
              </mat-error>
              <mat-error class="mt-3" *ngIf="!registerForm.get('userPassword')!.errors?.['required'] && registerForm.get('userPassword')!.errors?.['pattern'] && registerForm.get('userPassword')!.touched">
                Ingresa  al menos un signo y una letra mayúscula, y no espacios en blanco
              </mat-error>
              <mat-error class="mt-3" *ngIf="!registerForm.get('userPassword')!.errors?.['required'] && !registerForm.get('userPassword')!.errors?.['pattern'] && registerForm.get('userPassword')!.errors?.['minlength'] && registerForm.get('userPassword')!.touched">
                La contraseña debe tener al menos 8 caracteres
              </mat-error>
              <mat-error class="mt-3" *ngIf="!registerForm.get('userPassword')!.errors?.['required'] && !registerForm.get('userPassword')!.errors?.['pattern'] && !registerForm.get('userPassword')!.errors?.['minlength'] && registerForm.get('userPassword')!.errors?.['maxlength'] && registerForm.get('userPassword')!.touched">
                La contraseña no puede tener más de 50 caracteres
              </mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Tipo de Usuario</mat-label>
              <mat-select formControlName="userRole" placeholder="Seleccionar">
                <mat-option value="cliente">Cliente</mat-option>
                <mat-option value="administrador">Administrador</mat-option>
              </mat-select>
              <mat-error class="mt-3" *ngIf="registerForm.get('userRole')!.errors?.['required'] && registerForm.get('userRole')!.touched">Debe seleccionar un tipo de usuario</mat-error>
            </mat-form-field>


            <a
              [routerLink]="['/']"
              mat-flat-button
              color="primary"
              class="w-100"
            >
              Registrar
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >Tienes una cuenta?

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Iniciar sesión</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
